<script>
  function saveIngredients() {
    const ingredientsForm = document.getElementById('ingredientsForm');
    const ingredientsDiv = document.getElementById('ingredientsDiv');
    ingredientsForm.value = ingredientsDiv.innerText;
  }
</script>

<h1>Editing {{.PrettyName}}</h1>
<form
  action="/save/{{.Name}}"
  method="POST"
  onsubmit="return saveIngredients()"
>
  <div>
    <div
      id="ingredientsDiv"
      style="width: 200px; height: 50px; border: 1px solid black"
      contenteditable
    >
      {{printf "%s" .Ingredients}}
    </div>
    <textarea
      id="ingredientsForm"
      style="display: none"
      name="ingredients"
    ></textarea>
  </div>
  <div>
    <input type="submit" value="Save" />
  </div>
</form>
